/*CSC 468: Group Project
Group Name: DataVizWhiz
Members: Kyle Kassen, Vi Nguyen, Thang Tran, Ximan Liu
**Reference: Interactive Data Visualization for the Web,
       2nd Edition, Scott Murray, Chapters 14 ** */
path {
    stroke-width: 0.4px;
    stroke: #000000;
}



